.UI {
	width: 100%;
	height: 100%;

	background-color: #22B473;
    .loading {
        .fa-spin {
            font-size: 68px;
            -webkit-animation: fa-spin 3s infinite linear;
        }
        position: absolute;
        left: 50%;
        margin-left: -34px;
        top: 50%;
        margin-top: -34px;
        color: #187e51;
    }
}

@media screen and (max-width: 1000px){
    .SliderInFrame {
        display: none;
    }
    .BodyTextContent {
        width: 350px;
        left: 20px;
    }
}

html {
	height: 100%;
}



body {
	height: 100%;
    min-width: 800px;
    background-color: #22B473 !important;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#dp_swf_engine {
    display: none;
}

.modal-dialog {
    width: 500px !important;
}
.modal-content {
    border-radius: 2px !important;
}
.modal-title {
    text-align: center;
}

